<div class="mx-2 w-[25%]">

    <div
        class="flex flex-col gap-3 bg-white border border-gray-300 rounded-xl overflow-hidden items-center justify-start mt-5 p-5 bg-[#e8e7e738]">


        <div class="relative w-32 h-32 flex-shrink-0">
            <img class="absolute left-0 top-0 w-full h-full object-cover object-center transition duration-50"
                loading="lazy" src="profile.png">
        </div>
        <div class="flex flex-col gap-2 py-2 w-full">
            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="flex items-center justify-center text-gray-500 w-full">Gender</p>


            </div>

            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="flex text-2xl items-center justify-center font-bold w-full">
                    A B J Abdulla
                </p>
            </div>


            <div class=" flex flex-col gap-1 w-full justify-center">
                <span class="flex items-center justify-center text-gray-500 w-full">
                    Specialisation
                </span>
            </div>
            <div class=" flex flex-col gap-1 w-50 justify-center">
                <Button>View Profile</Button>
            </div>

        </div>

    </div>

</div>