@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">
  <main>
    @* <div class="relative flex h-16 items-center justify-between bg-gradient-to-r from-[#258cfb] from-10% to-[#3e0682] to-90% px-[120px]">
      <!-- Left side: Logo or Brand Name -->
      <NavMenu />
    </div> *@


    <article class="content">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
