@inherits LayoutComponentBase

<div class="page">
  <main>
    <div class="relative flex h-16 items-center justify-between bg-gradient-to-br from-[#2c67f2] to-[#62cff4] px-4">
      <!-- Left side: Logo or Brand Name -->
      <NavMenu />
    </div>


    <article class="content">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
