<div class="flex flex-1 items-center justify-start">
    <div class="flex shrink-0 items-center">
        <h1 class="font-bold text-white text-2xl">Appointment</h1>
    </div>
</div>

<!-- Right side: Menu Items -->
<div class="hidden sm:ml-6 sm:block">
    <div class="flex space-x-4 pe-5">
        <!-- Menu Links -->
        <a href="/" class="rounded-md  px-3 py-2 hover:bg-[#258cfb] text-sm font-medium text-white"
            aria-current="page">Dashboard</a>
        <a href="/appointments"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-[#258cfb] hover:text-white">My
            Appointments</a>
        <a href="/sessions"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-[#258cfb] hover:text-white">My
            Sessions</a>
        <a href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-[#258cfb] hover:text-white">Profile</a>
        <a href="#"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-[#258cfb] hover:text-white">Logout</a>

    </div>
</div>