@inject IDialogService Dialog
@code {
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return Dialog.ShowAsync<DialogBox>("Simple Dialog", options);
     }
}
<div class=" mx-auto my-5">
    <div
        class="flex gap-3 bg-white border border-gray-300 rounded-xl overflow-hidden items-center justify-start mt-5 px-4">



        <div class="flex flex-row gap-2 py-2 w-full">
            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="text-xl font-bold w-full text-[#4e5055de]">W G Gunawardena</p>



            </div>
            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="text-gray-500 w-full">
                    January 25, 2025
                </p>
            </div>
            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="text-gray-500 w-full">
                    03:00 PM - 03:30 PM <span>(Evening)</span>
                </p>
            </div>
            <div class=" flex flex-col gap-1 w-full justify-center">
                <p class="text-gray-500 w-full">
                <div class="flex items-center space-x-2">
                    <Button OnClick="OpenDialogAsync">Available</Button>
                </div>
                
                </p>
            </div>


        </div>

    </div>

</div>
