<!-- CustomButton.razor -->
<button
    @attributes="AdditionalAttributes"
    class="bg-[#5333ed] w-25 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-3 mb-3 @(Disabled ? "opacity-50 cursor-not-allowed" : "hover:bg-[#2cd4d9] hover:text-[#111b6d]")"
    @onclick="OnClick"
    type="button"
    disabled="@Disabled">
    @ChildContent
</button>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();
}