@page "/"
@using AppointmentUI.Components.Common
@using AppointmentUI.Components.Domain
@inject IHttpClientFactory HttpClientFactory
@inject IConfiguration Configuration
@attribute [Authorize]

<PageTitle>Home</PageTitle>

@code{
    List<ApplicationUser> doctors = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    {
              var httpClient = HttpClientFactory.CreateClient("ApiClient");

        @* var baseUrl = Configuration["ApiSettings:BaseUrl"];
        var apiUrl = $"{baseUrl}/api/ProfessionalAvailability/professionals"; *@

        try
        {
            var doctorData = await httpClient.GetFromJsonAsync<List<DoctorWithAvailabilitiesDto>>("ProfessionalAvailability/professionals");
            if (doctorData != null)
            {
                doctors = doctorData.Select(d => d.Doctor).ToList();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching doctors: {ex.Message}");
        }
    }
}

<h1 class="text-4xl font-bold text-gray-900 mt-5">Hello, Loshithan!</h1>
<AuthorizeView>
<form class="bg-[#dbd9d999] shadow-md rounded px-3 pt-6 pb-8 mb-4 mt-5">
  <div class="flex flex-row gap-3">
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="doctorName">
        Doctor name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Doctor name">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="specialization">
        Specialization
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Specialization">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital">
        Hospital
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Hospital">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
        Date
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type=" date" placeholder="DD/MM/YYYY">
    </div>
    <div class="flex flex-1 items-end justify-between pt-4">
            <Button>Search</Button>

      
    </div>
  </div>
</form>
<hr class=" mt-[50px]">
<div class="flex flex-wrap flex-row" style="gap: 16px;">
  @{foreach (var doctor in doctors)
  {
      <DoctorProfileCard doctor="@doctor" />
  }}
</div>
</AuthorizeView>