@page "/appointments"
@rendermode InteractiveServer

<PageTitle>My Appointments</PageTitle>
<h2 class=" text-4xl font-bold">My Appointments</h2>
<form class="bg-[#dbd9d999] shadow-md rounded px-3 pt-6 pb-8 mb-4 mt-2">
  <div class="flex flex-row gap-3">
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="doctorName">
        Doctor name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Doctor name">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="specialization">
        Specialization
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Specialization">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital">
        Hospital
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Hospital">
    </div>
    <div class="flex-1">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
        Date
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type=" date" placeholder="DD/MM/YYYY">
    </div>
    <div class="flex flex-1 items-end justify-between">
      <Button>Search</Button>

      
    </div>
  </div>
</form>
<hr class=" mt-[50px] mb-[50px]">
<AppointmentCard/>
<AppointmentCard/>
<AppointmentCard/>

