@page "/sessions"
@rendermode InteractiveServer

<PageTitle>My Sessions</PageTitle>
<h2 class=" text-4xl font-bold">My Sessions</h2>
@* <button class="bg-blue-500 w-25 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-3 mb-3" type="button">
Add Session      </button> *@
<Button>Add Session</Button>
<Accordian/>